name: Build and Push to Dockerhub the Flask App
on:
    push:
        branches: [ main ]

jobs:
    docker-build:
        runs-on: ubuntu-latest
        steps:
            - name: checkout code
              uses: actions/checkout@v4 
              
            - name: Setup docker Buildx
              uses: docker/setup-buildx-action@v3
              
            - name: Login to dockerhub
              uses: docker/login-action@v3 
              with:
                username: ${{ secrets.DOCKERHUB_USERNAME }}
                password: ${{ secrets.DOCKERHUB_PASSWORD }}
